* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url(fonts/OpenSans-Regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "Open Sans semibold";
  font-weight: 400;
  font-style: normal;
  src: url(fonts/OpenSans-Semibold-webfont.woff) format("woff");
}

h2 {
  padding: 0;
  margin: 0;
}

body {
  display: block;
  width: auto;
  font-family: "Open Sans semibold";
}

.container {
  max-width: 1400px;
  margin: auto;
  box-shadow: 0 16px 20px #00000059;
}
.article_font-modified {
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.title_font-modified {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
}
.img_size-modified {
  width: 62px;
  height: 62px;
}
.block__item_size-modified {
  width: 56px;
  height: 62px;
}

/* +HEADER */

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 121px;
}

.navigation__search {
  margin: 0 10px;
  padding: 5px;
}

.header__logo {
  height: 100px;
  width: 100px;
  margin: 10px 10px 10px 110px;
}

.header__top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 120px;
  max-width: 1400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  letter-spacing: 1px;
}

.navigation__menu a {
  padding: 10px 18px;
  color: #212121;
  font-size: 20px;
}
.navigation__menu a:hover {
  text-decoration: underline;
}
.header__top__Img {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: auto;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-header__banner {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 150px auto 0 auto;
}
.banner__topic {
  font-size: 60px;
  letter-spacing: 3px;
}
.banner__text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-top: 26px;
}

.service-buttons__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
}

.item__link {
  margin: 0 15px;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 20px;
  font-size: 20px;
}
.link_bcg-hover:hover {
  background-color: #00897b;
  border: 3px solid #00897b;
}

.service-buttons__scroll {
  transform: scale(2);
  color: #ffffff;
}

.bottom-header__service-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-buttons__scroll {
  margin: 20% auto;
}

/* -HEADER */

/* +PAGE */
.page__container {
  width: 100%;
}

/* +INFO */
/* +INFOTEXT */
.text__section {
  text-align: center;
}
.section__title {
  color: #212121;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
}
.section__article {
  text-align: center;
  width: 620px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

/* -INFOTEXT */

/* +INFOCONTENT-MAIN */
.info__content-main {
  display: flex;
  margin: 125px 0;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.block__img {
  margin-bottom: 39px;
}
.block__title {
  margin-bottom: 26px;
}
.block__article {
  width: 260px;
  margin-bottom: 64px;
}

/* -INFOCONTENT-MAIN */

/* -INFO */
/* +SERVICES-BLOCK */
.page__services-block {
  background-color: #e4fdf9;
  display: flex;
  flex-direction: column;
}

.info__text {
  margin-top: 125px;
}

/* +CATEGORYBLOCK */
.page__category {
  margin: 110px 110px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__block {
  display: flex;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  width: 370px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 15px auto;
  padding: 50px 20px;
}

.item__link-category {
  margin: 0 auto;
  color: #212121;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 20px;
  font-size: 20px;
}
.item__link-category_bcg-hover:hover {
  background-color: #00897b;
  border: 3px solid white;
  color: white;
}
.block__list {
  margin: 50px auto;
}
/* -CATEGORYBLOCK */

/* -SERVICES-BLOCK */
/* +LATEST WORK */
.work-category {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 15px auto;
  width: 370px;
}

.work-category__img {
  margin: 0 auto;
}
.category__block_shadow-modified {
  box-shadow: none;
}

.work-category__img_bcg-modified {
  background-color: #484848;
}

.work-category__title {
  margin-bottom: 50px;
}
.article_margin-modified {
  margin: 5px auto;
}
.span_margin-modified {
  position: relative;
  bottom: 20px;
}
.article_font-modified-white {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.75px;
}
/* TEST */
.work-img-block {
  width: 370px;
  height: 370px;
  margin-top: 15px;
  background: url(img/Layer_1.png);
  background-color: #484848;
}
.span__work-category {
  display: flex;
  flex-direction: column;
}
/* TEST */

.category__navigation {
  margin: 110px auto 120px auto;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item__link-navigation {
  margin: 0 5px;
  color: #212121;
  text-transform: uppercase;
  border: 3px solid #00897b;
  padding: 10px 30px;
  font-size: 20px;
}
.item__link-navigation_bcg-hover:hover {
  background-color: #00897b;
  border: 3px solid white;
  color: white;
}
.item__link-navigation_margin-modified {
  margin: 130px auto;
}

/* -LATEST WORK */

/* -PAGE */

@media (max-width: 1200px) {
  .header__logo {
    margin: 10px;
    transition: margin 1500ms ease;
  }
  .header__navigation {
    margin: 10px auto;
  }
  .bottom-header__banner {
    transition: margin 1500ms ease;
    margin: 10px auto;
  }
  .header__top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (max-width: 940px) {
  .header__logo {
    transform: scale(0.5);
    transition: transform 2000ms ease;
  }
  .navigation__menu a {
    font-size: 15px;
  }
  .banner__topic {
    font-size: 35px;
  }
  .banner__text {
    font-size: 13px;
  }

  .service-buttons__list {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    transition: margin 1500ms ease;
  }

  .list__item {
    margin: 30px 0;
  }
  .item__link {
    margin: 0;
  }
  .list__item:last-child .item__link {
    padding: 20px calc((182.89px - 128.69px) / 2);
  }

  .service-buttons__scroll {
    margin: 30px auto;
  }
}
